<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>Login</title>
</head>
<body>
    <left>
        <form action = '.' method='POST'>
    
            {% csrf_token %}
            
            
            <p><lable>Tài khoản<br> </lable>{{form.username}}</p>
            <p><lable>Mật khẩu <br></lable>{{form.password}}</p>
            <input type = "hidden" name = 'next' value="/"/>
            <input type="submit" valua="Đăng nhập">
        </form>

    </left>

</body>
</html>
